body {
  margin: auto;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  color: #2a211f;
}

/* Styling of font sizes */
h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 28px;
}
h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 23px;
}
h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 16px;
}
span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/* Styling for the top navigation bar with the timer and button to view leaderboard */
#stats {
  background: #ccd6dd;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
}
#stats:after {
  content: "";
  display: block;
  clear: both;
}
#stats #viewLeaderboardBtn {
  float: left;
}
#stats .counterBox {
  float: right;
  margin-top: 15px;
}
#stats button {
  background: #4285f4;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 8px;
}
#stats label {
  color: white;
  border-radius: 5px;
  padding: 5px 0px 5px 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 5px;
}
#stats #timerLabel {
  background: #4285f4;
}
#stats #correctALabel {
  background: #34a853;
}
#stats #wrongALabel {
  background: #ea4335;
}
#stats #remainingQuestionsLabel {
  background: #fbbc05;
}

#stats #timerCount,
#stats #wrongCount,
#stats #correctCount,
#stats #questionsRemainingCount {
  color: white;
  background-color: black;
  padding: 6px 6px 6px 6px;
  border: none;
  border-radius: 0px 5px 5px 0px;
}
/* End of styling top stats bar */

#main {
  text-align: center;
  background: #fbbc05;
  margin: 20px;
  padding: 5%;
}
#main label {
  color: white;
  border-radius: 5px 0px 0px 5px;
  padding: 12px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  background: #34a853;
}
#main input {
  color: grey;
  background-color: white;
  padding: 13px;
  border: none;
  border-radius: 0px 5px 5px 0px;
}
#main #container {
  background: lightgrey;
  padding: 20px;
}

.quizInfo {
  text-align: center;
  background: #fbbc05;
  margin: 20px;
  padding: 10%;
}
.highscores {
  text-align: center;
  background: #fbbc05;
  margin: 20px;
  padding: 10%;
}

button {
  background: #4285f4;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  padding: 12px 16px;
  border: none;
  cursor: pointer;
  margin: 30px;
}

button:hover {
  transform: scale(1.05);
  background: #55acee;
}
li {
  display: block;
  padding: 10px;
  background: #4285f4;
  margin: 15px;
  border-radius: 10px;
  cursor: pointer;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.5;
}

.emojiImg {
  height: 50px;
  width: 50px;
}

.correctChoice {
  background: #34a853;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  font-weight: 600;
  left: 50%;
  width: 50%;
}

.wrongChoice,
.errorAlert {
  background: #ea4335;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px;
  font-weight: 600;
  left: 50%;
  width: 40%;
}

table {
  padding: 20px;
  width: 100%;
  border-radius: 5px;
}
table tr {
  text-align: center;
  background: #ccd6dd;
  padding: 30px;
}
table th {
  padding: 10px;
}
table td {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 14px;
}
