body {
  margin: auto;
  width: 100%;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  color: #2a211f;
}

/* Styling of font sizes */
h1 {
  font-family: "Abril Fatface", cursive;
  font-size: 36px; /* Some tweener fallback */
  font-size: 5.9vw;
}

h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 3vh;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  font-size: 2vmin;
}

span {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.row:after {
  content: "";
  display: block;
  clear: both;
}

.float-right {
  float: right;
}

/* Styling for the top navigation bar with the timer and button to view leaderboard */
#stats {
  background: #d8d8d8;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  padding: 8px 3px 8px 3px;
}

#stats:after {
  content: "";
  display: block;
  clear: both;
}

#stats #viewLeaderboardBtn {
  float: left;
  background: #4285f4;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 2px;
  margin-bottom: 0px;
  font-weight: bold;
}

#stats label {
  color: white;
  border-radius: 4px;
  padding: 5px 0px 5px 5px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  margin: 5px 7px 3px 0px;
}

#stats #timerLabel {
  background: #4285f4;
  margin-top: 2px;
  padding: 10px 0px 10px 10px;
}

#stats #correctALabel {
  background: #34a853;
}

#stats #wrongALabel {
  background: #ea4335;
}

#stats #remainingQuestionsLabel {
  background: #fbbc05;
}

#stats #timerCount {
  padding: 10px 10px 10px 7px;
  background-color: #383838;
  border: none;
  border-radius: 0px 4px 4px 0px;
}

#stats #wrongCount,
#stats #correctCount,
#stats #questionsRemainingCount {
  background-color: #383838;
  padding: 5px 5px 5px 5px;
  border: none;
  border-radius: 0px 4px 4px 0px;
}
/* End of styling top stats bar */

/* styling for the main section */
#main {
  text-align: center;
  background: #fbbc05;
  margin: 12px;
  padding: 20px;
}

#main label {
  color: white;
  border-radius: 4px 0px 0px 4px;
  padding: 10px 0px 12px 12px;
  font-family: "Open Sans", sans-serif;
  background: #55acee;
  font-weight: bold;
}

#main input {
  color: #2a211f;
  background-color: white;
  padding: 12px 0px 12px 8px;
  border: none;
  margin-top: 25px;
  width: 100px;
  border-radius: 0px 5px 5px 0px;
}

#main .inputError,
.wrongAnswer {
  color: #ea4335;
  margin: 5px;
  padding: 0px;
  font-weight: 600;
}

#main .inputError,
.correctAnswer {
  color: #34a853;
  margin: 5px;
  padding: 0px;
  font-weight: 600;
}

#main #container {
  background: lightgrey;
  padding: 20px;
}

#main #finalScoreLabel {
  background: #fbbc05;
  margin-top: 20px;
  padding: 10px 0px 10px 10px;
  margin-bottom: 20px;
}

#main #finalScore {
  padding: 10px 10px 10px 7px;
  background-color: #383838;
  border: none;
  border-radius: 0px 4px 4px 0px;
}

.quizInfo {
  text-align: center;
  background: #fbbc05;
  margin: 20px;
  padding: 30px;
}

button {
  background: #4285f4;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 7px;
  font-weight: 600;
}

button:hover {
  transform: scale(1.05);
  background: #55acee;
}

/* styling for quiz question options */
li {
  display: block;
  width: 85%;
  padding: 7px;
  background: #55acee;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 4px;
  cursor: pointer;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

li:hover {
  background: #4285f4;
}

.emojiImg {
  height: 40px;
  width: 40px;
  border: none;
}

.answerBox {
  color: #ffffff;
  padding: 10px;
  font-weight: 600;
}

.endScreenContainer {
  background: #e8e8e8;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* styling the highscores table */
table {
  padding: 20px;
  width: 100%;
  border-radius: 4px;
}

table thead th {
  background: #2a211f;
  color: white;
  padding: 10px;
}

table tbody td {
  font-family: "Open Sans", sans-serif;
  color: #2a211f;
  background: #55acee;
  padding: 4px;
  font-weight: 600;
}

.hide {
  display: none;
}

/* media queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 19px;
  }
  h4,
  table thead th {
    font-size: 15px;
  }
  h5,
  #main label,
  button,
  table tbody td,
  li,
  .correctAnswer,
  .wrongAnswer {
    font-size: 12px;
  }
  #stats label,
  #stats #viewLeaderboardBtn {
    font-size: 10px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 23px;
  }
  h3 {
    font-size: 19px;
  }
  h4,
  table thead th {
    font-size: 15px;
  }
  h5,
  #main label,
  button,
  table tbody td,
  li,
  .correctAnswer,
  .wrongAnswer {
    font-size: 12px;
  }
  #stats label,
  #stats #viewLeaderboardBtn {
    font-size: 11px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 19px;
  }
  h4,
  table thead th {
    font-size: 17px;
  }
  h5,
  #main label,
  button,
  table tbody td,
  li,
  .correctAnswer,
  .wrongAnswer {
    font-size: 14px;
  }
  #stats label,
  #stats #viewLeaderboardBtn {
    font-size: 13px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 25px;
  }
  h4,
  table thead th {
    font-size: 19px;
  }
  h5,
  #main label,
  button,
  table tbody td,
  li,
  .correctAnswer,
  .wrongAnswer {
    font-size: 15px;
  }
  #stats label,
  #stats #viewLeaderboardBtn {
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* hi-res laptops and desktops */
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 25px;
  }
  h4,
  table thead th {
    font-size: 19px;
  }
  h5,
  #main label,
  button,
  table tbody td,
  li,
  .correctAnswer,
  .wrongAnswer {
    font-size: 18px;
  }
  #stats label,
  #stats #viewLeaderboardBtn {
    font-size: 14px;
  }
}
